annotated-types
anyio
certifi
distro
exceptiongroup
h11
httpcore
httpx
idna
jiter
openai
pinecone
pinecone-plugin-inference
pydantic
pydantic_core
python-dateutil
python-dotenv
six
sniffio
tqdm
typing_extensions
urllib3
